*{
  background-image: url("https://d33wubrfki0l68.cloudfront.net/a8eee43eb10c76e6ee179e2638a765fb4d6f69f9/8fc35/static/waves_green-67a53bd9125a2c87657051177a14de2c.jpg");
  font-family: cursive;
  
}

.career-profile {
  background-image: url("https://cdn.fansshare.com/photo/prettywallpapers/anime-flowers-pretty-flower-wallpapers-2123839722.jpg");
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  border: 1px solid;
  width: 100%;
}
.career-profile-p {
  color: black;
  background-color:whitesmoke;
  font-size: 24px;
}
.experiences {
  color: black;
  background-image: url("https://cdn.fansshare.com/photo/prettywallpapers/anime-flowers-pretty-flower-wallpapers-2123839722.jpg");
  border: 1px solid;
}
.job-title {
  color: black;
  font-size: 20px;
  position: relative;
  bottom: 10px;
}
.location {
  font-size: 14px;
  opacity: 60%;
  position: relative;
  bottom: 28px;
  left: 5px;
  width: 100%;
}
.date {
  position: relative;
  left: 80%;
  bottom: 94px;
  width: 11%;
}
.experiences-p {
  color: black;
  font-size: 24px;
  position: relative;
  bottom: 98px;
}
.side {
  float: right;
  font-family: cursive;
  border: 1px solid;
  position: relative;
  bottom: 100px;
  right: 40%;
}
#stitch {
  border: 1px solid white;
}
footer {
  position: sticky;
  width: 100%;
  clear: both;
  text-align: center;
  font-size: 20px;
  border: 1px dotted aqua;
}